<form class="container mt-5" #myForm="ngForm" (ngSubmit)='addUsers(myForm.value)'>
    <div class="mb-3">
      <label for="title" class="form-label">UserName</label>
      <input
        type="text"
        class="form-control"
        id="name"
        ngModel
        name="name"
        #name="ngModel"
        required
      />
      <div class="d-flex justify-content-center" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors?.['required']">
          *Name is required*
        </div>
  
      </div>
    </div>
  
    <div class="mb-3">
      <label for="body" class="form-label">Company</label>
      <input
        type="text"
        class="form-control"
        id="company"
        ngModel
        name="company"
        #company="ngModel"
        required
      />
      <div class="d-flex justify-content-center" *ngIf="company.touched && company.invalid">
        <div *ngIf="company.errors?.['required']">
          *company is required*
        </div>
  
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]='myForm.invalid'>Submit</button>


</form>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let user of users; let i =index">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">username: {{user.name}}</h5>
              <h5 class="card-title">company: {{user.company.name}}</h5>
              <h5 class="card-title">company: {{user.company}}</h5>

              <h5 class="card-title">city: {{user.address.city}}</h5>
              <h5 class="card-title">lat: {{user.address.geo.lat}}</h5>
              <h5 class="card-title">long: {{user.address.geo.lng}}</h5>



              <a routerLink="/singleUser/{{ user.id }}">
                <button type="button" class="btn btn-sm btn-primary">More info</button>
              </a>

                <button type="button" class="btn btn-sm btn-danger" (click)="deleteUsers(user.id, i)">delete</button>

              <a routerLink="/editUser/{{ user.id }}">
                <button type="button" class="btn btn-sm btn-success">Update</button>
              </a>

            </div>
          </div>
        </div>
      </div>