<div class="container ">
    <div class="row row-cols-1 row-cols-md-3 g-4 pt-4">
          <div class="card h-900 ">
            <div class="card-body">
              <h5 class="card-title">userId: {{users.id}}</h5>

              <h5 class="card-title">username: {{users.name}}</h5>
              <h5 class="card-title">phone: {{users.phone}}</h5>

              <h5 class="card-title">company: {{users.company.name}}</h5>
              <h5 class="card-title">city: {{users.address.city}}</h5>
          
              <h5 class="card-title">Street: {{users.address.Street}}</h5>
              <h5 class="card-title">lat: {{users.address.geo.lat}}</h5>
              <h5 class="card-title">long: {{users.address.geo.lng}}</h5>
            </div>
        </div>
      </div>

</div>

